
.profile-container {
  padding: 20px;
  margin: 0 auto; 
  max-width: 600px; 
}

.profile-header {
  background-color: #FFF35E;
  border-radius: 12px;
  text-align: center;
  margin-bottom: 20px;
}

.profile-details {
  background-color: #fff; 
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.detail-row {
  display: grid;
  padding: 10px;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 10px;
  border-bottom: 1px solid grey;
}

.detail-label {
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
}

.detail-data {
  color: #333;
}

.scores {
  margin-top: 20px;
}
.score-heading{
  padding: 5px;
  color: black;
  text-align: center;
  margin-bottom: 10px;
}
.return-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #007bff; 
  color: white; 
  border: none;
  border-radius: 5px; 
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.return-button:hover {
  background-color: #0056b3; 
}

.edit-button {
  display: block;
  margin: 20px auto; 
  padding: 10px 20px;
  background-color: #fff35e; 
  color: #000; 
  border: none;
  border-radius: 5px; 
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.edit-button:hover {
  background-color: #f8e700; 
}

.save-button {
  display: block;
  margin: 20px auto; 
  padding: 10px 20px;
  background-color: #1aff00; 
  color: #000; 
  border: none;
  border-radius: 5px; 
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.save-button:hover{
  background-color: #14a804;
}

.delete-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #eb0101;
  color: #000; 
  border: none;
  border-radius: 5px; 
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.delete-button:hover {
  background-color: #b30000; 
}
